body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background: rgb(15, 15, 85);
    color: rgb(204, 54, 54);
}

header {
    background: rgb(110, 18, 18);
    color: rgb(170, 208, 241);
    padding: 20px;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 2.5rem;

}

header p{
    font-size: 1.2rem;

}

section{
    padding: 30px;
    max-width: 900px;
    margin: auto;

}
.hehe{
    display:flex;
    margin-left: 0%;
}
.hehe img{
    width: 25%;
    
  }
  .hehe h2{
    margin-left: 15%;
  }
    
h2 {
    color: black;
}

ul{
    list-style: square;
}